<!DOCTYPE html>
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/semantic.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="/javascripts/semantic.js"></script>